$grid-size: 30px;

.board-base {
  display: inline-block;
  .board-row {
    display: flex;
  }
  .board-cell {
    display: inline-block;
    border: 1px solid #555;
    border-radius: 2px;
    background-color: #ccc;
    width: $grid-size;
    height: $grid-size;
    text-align: center;
    font-size: $grid-size / 2;
    line-height: $grid-size;
  }
}
